.templates {
	padding-bottom: 100px;
}

.page-title{
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	@media(max-width: 992px){
		font-size: 18px; 
	}

	&--mpadding{
		@media(max-width: 992px){
			padding: 0 15px; 
		}
	}
}

.table {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 1470px;
	height: 815px;
	border-radius: 20px;
	border: 1px solid var(--grey2);
	overflow: hidden;

	@media (max-width: 992px) {
		width: 100%;
		height: auto;
		border: none;
	}

	&-box{
		display: flex;
		flex-direction: column;
		gap: 40px;
		&--mobilenogap{
			@media(max-width: 992px){
				gap: 0;
			}
		}
	}

	&-body {
		position: relative;
		@media (max-width: 992px) {
			padding: 0 0;
		}
	}

	&-empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		@media(max-width: 992px){
			padding: 0 15px;
		}

		&__text {
			margin-bottom: 40px;
			font-size: 24px;
			font-weight: 400;
			color: var(--grey3);
			text-align: center;
			@media (max-width: 992px) {
				font-size: 18px;
			}

			&--mt40{
				margin-top: 40px;
			}
		}

		&__btn {
			@include button(auto, 46px, var(--blue), var(--hoverBlue));
			@media (max-width: 992px) {
				
			}
		}
	}

	&-wrap {
		overflow: auto;
		@media (max-width: 992px) {
			margin-left: -15px;
			margin-right: -15px;
		}
		&--mt40{
			margin-top: 40px;
		}
	}

	&-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 0;
		height: 60px;
		padding: 0 10px;
		background: var(--darkBlue);
		@media (max-width: 992px) {
			display: none;
		}

		&__col {
			display: flex;
			align-items: center;
		}

		&__name {
			flex-shrink: 0;
			font-size: 18px;
			font-weight: 600;
			color: #fff;
			text-transform: uppercase;
		}

		&__icon {
			flex-shrink: 0;
			margin-left: 10px;
		}
	}

	&__scroll {
		overflow: auto;
		transition: all 0.3s;
	}

	&--num {
		width: 80px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--name {
		width: 538px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--pay {
		width: 175px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--comment {
		width: 280px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--quantity {
		width: 252px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--link{
		width: 420px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--percent{
		width: 195px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--registr{
		width: 170px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--referal{
		width: 139px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}
	
	&--active{
		width: 139px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--datetime{
		width: 172px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}
	
	&--email{
		width: 206px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--summa{
		width: 222px;
	}

	&-small{
		height: 185px;
		@media(max-width: 992px){
			height: auto;
		}
	}

	&-invitations{
	}

	&--status {
		width: 230px;
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&-navigation {
		display: flex;
		align-items: center;
		margin-top: 20px;
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}

	&-selection {
		font-size: 16px;
		font-weight: 500;
		color: var(--grey3);
		@media (max-width: 992px) {
			margin-top: 20px;
		}
		&__period {
			font-size: 18px;
			font-weight: 700;
			color: var(--grey3);
		}
	}

	&-visible {
		margin-left: auto;

		&__box {
			display: flex;
			align-items: center;
			@media (max-width: 992px) {
				justify-content: space-between;
				padding: 0 15px;
			}
		}

		&__text {
			margin-right: 10px;
			font-size: 18px;
			font-weight: 400;
			color: #000;
		}

		&__area {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 37px;
			border-radius: 10px;
			border: 1px solid var(--grey2);
		}

		&__num {
			font-size: 18px;
			font-weight: 700;
			color: #000;
		}
	}

	&-action {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 40px;
		margin-bottom: 20px;
		
		@media (max-width: 992px) {
			flex-direction: column;
		}
		
		&__box {
			display: flex;
			gap: 20px;
			@media (max-width: 992px) {
				flex-direction: column;
			}
			&--mlauto{
				margin-left: auto;
				@media (max-width: 992px) {
					margin-left: 0;
				}
			}
		}

	}

	&-filter {
		@include button(auto, 40px, var(--blue), var(--hoverBlue));
		&__close {
			margin-left: 10px;
		}
	}

	&-adding {
		@include button(auto, 40px, var(--blue), var(--hoverBlue));
	}

	&-edit {
		@include button(285px, 40px, transparent, #ceefff);
		border: 1px solid var(--blue);
		&__text {
			color: var(--blue);
		}
	}

	&-save {
		@include button(270px, 40px, var(--green2), #ceefff);
		&:hover {
			background: var(--green);
		}
	}

	&-settings {
		&__toggle {
			@include button(100%, 36px, var(--blue), var(--hoverBlue));
			justify-content: center;
			margin-bottom: 20px;
		}
	}

	&-up {
		position: absolute;
		z-index: 1;
		bottom: 20px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: var(--darkBlue);
		transition: all 0.3s;
		&:hover {
			background: #003652;
		}
		svg {
			transform: rotate(-180deg);
		}
	}
}

.search-number {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 51px;
	height: 26px;
	padding: 0 5px;
	border-radius: 10px;
	background: #fff;

	&__grid {
		font-size: 18px;
		font-weight: 700;
		color: var(--darkBlue);
	}

	&__item {
		font-size: 18px;
		font-weight: 700;
		color: var(--grey2);
	}
}

.select {
	position: relative;
	width: 191px;
	height: 36px;
	margin-right: 30px;
	border-radius: 10px;
	background: var(--blue);
	transition: all 0.3s;

	@media (max-width: 992px) {
		width: 100%;
		margin-right: 0;
	}

	&:hover {
		background: var(--hoverBlue);
	}

	&-empty {
		background: var(--grey2);
		pointer-events: none;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0 20px;
		cursor: pointer;
	}

	&__current {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
	}

	&__icon {
		margin-right: 20px;
		transform: rotate(0deg);
		transition: all 0.3s;
	}

	&__body {
		position: absolute;
		z-index: 2;
		top: 40px;
		display: none;
		width: 100%;
		max-height: 200px;
		overflow-y: auto;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #c8c8c8;
	}

	&__value {
		display: none;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		font-weight: 500;
		padding: 6px 20px;
		cursor: pointer;
		&:hover {
			background: var(--blue);
			color: #FFF;
		}
		&.is-active {
			background: var(--blue);
			color: #FFF;
		}
	}

	&.is-active {
		.select__body {
			display: block;
		}
		.select__icon {
			transform: rotate(180deg);
		}
	}
}

.search {
	position: relative;
	display: flex;
	align-items: center;
	width: 345px;
	height: 40px;
	padding-right: 15px;
	border: 1px solid var(--grey2);
	border-radius: 10px;
	@media (max-width: 992px) {
		width: 100%;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background: transparent;
		width: 60px;
		height: 100%;
	}

	&__input {
		width: 100%;
		border: none;
		color: #000;
		&::placeholder {
			font-size: 16px;
			font-weight: 500;
			color: var(--grey2);
		}
	}
}

.position {
	
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;

	@media (max-width: 992px) {
		flex-direction: column;
		gap: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}

	&:nth-child(2n) {
		background: #f2f5fa;
	}

	&__num {
		padding-right: 30px;
		font-size: 16px;
		font-weight: 600;
		color: #000;
		text-align: right;
		@media(max-width: 992px){
			padding-right: 0;
		}
	}

	&-data {

		&--modal{
			width: 100%;
		}

		&__fields {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		&__table {
			width: 100%;
			border-spacing: 0 15px;
			@media (max-width: 992px) {
				border-spacing: 0;
			}
		}

		&__col {
			vertical-align: top;

			&--flex {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				gap: 20px;
				@media (max-width: 992px) {
				}
			}
			&--mcolumn {
				@media (max-width: 992px) {
					flex-direction: column;
				}
			}
		}

		&__title {
			display: flex;
			gap: 20px;
			@media (max-width: 992px) {
				flex-direction: column;
			}
		}

		&__titlelinks {
			display: flex;
			font-size: 16px;
			font-weight: 600;
			color: var(--darkBlue);
			@media (max-width: 992px) {
				justify-content: space-between;
			}
		}

		&__divider {
			@media (max-width: 992px) {
				display: none;
			}
		}

		&__titlelink {
			display: flex;
			gap: 20px;
			font-size: 16px;
			font-weight: 600;
			color: var(--darkBlue);
		}

		&__name {
			display: block;
			padding-right: 20px;
			font-size: 16px;
			font-weight: 600;
			color: #000;
			white-space: nowrap;
			@media(max-width: 992px){
				margin-bottom: 10px;
			}
		}

		&__item {
			@media (max-width: 992px) {
				display: flex;
				flex-direction: column;
				margin-top: 20px;
			}
		}

		&__val {
			max-width: 382px;
			width: 100%;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: #000;
			&[href] {
				word-break: break-all;
				text-decoration: underline;
			}
			@media (max-width: 992px) {
			}
		}

		&__marker {
			margin-top: 20px;
		}
	}

	&-pay {
		&__date {
			display: flex;
			align-items: center;
		}
		&__status {
			width: 16px;
			height: 16px;
			margin-right: 10px;
			border-radius: 50%;
			&--red {
				background: var(--red);
			}
			&--green {
				background: var(--green);
			}
			&--orange {
				background: var(--orange);
			}
		}
		&__btn {
			@include button(100%, 40px, var(--blue), var(--hoverBlue));
			justify-content: center;
			margin-top: 20px;
		}
	}

	&-comment {
		&__box {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		&__textarea {
			width: 100%;
			height: 116px;
			padding: 10px;
			font-size: 16px;
			border: 1px solid var(--grey2);
			border-radius: 10px;
			&::placeholder {
				color: var(--grey2);
			}
		}
	}

	&__mobiletitle {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 600;
		color: #000;
	}

	&-quantity {
		&__box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media (max-width: 992px) {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}

	&-status {
		&__box {
			display: flex;
			align-items: center;
		}
		&__btn {
			@include button(auto, 40px, var(--blue), var(--hoverBlue));
			margin-top: 20px;
			justify-content: center;
		}
		&__download{
			display: flex;
			align-items: center;
			font-weight: 500;
			color: var(--darkBlue);
			text-decoration: underline;
			svg{
				margin-right: 10px;
			}
		}
		&__indicator{
			width: 16px;
			height: 16px;
			margin-right: 10px;
			border-radius: 50%;
			&--red{
				background: var(--red);
			}
			&--green{
				background: var(--green);
			}
			&--orange{
				background: var(--orange);
			}
		}
		&__name{
			&--red{
				color: var(--red);
			}
			&--green{
				color: var(--green);
			}
			&--orange{
				color: var(--orange);
			}
		}
		&__wrap{
			display: flex;
			justify-content: space-between;
			@media(max-width: 992px){
				flex-direction: column;
			}
		}
	}

	&__del {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 10px;
		background: var(--red);
		transition: all 0.3s;
		@media (max-width: 992px) {
			justify-content: flex-start;
			width: 100%;
			margin-top: 40px;
			padding-left: 20px;
		}
		&:hover {
			background: var(--hoverRed);
		}

		span {
			margin-left: 20px;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
		}
	}

	&--mobnp{
		padding: 0;
	}
}

.edit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	border-radius: 10px;
	transition: all 0.3s;

	&--add {
		background: var(--blue);
		&:hover {
			background: var(--hoverBlue);
		}
		@media (max-width: 992px) {
			width: 100%;
		}
	}

	&--record {
		background: var(--blue);
		&:hover {
			background: var(--hoverBlue);
		}
	}

	&--complete {
		background: var(--green2);
		&:hover {
			background: var(--green);
		}
	}
}

.copy-btn{
	display: flex;
	justify-content: center;
	width: 40px;
}

.edit-field {
	display: flex;
	align-items: center;
	gap: 20px;

	&:not(:nth-of-type(1)){
	}

	@media (max-width: 992px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 14px;
	}

	&__pos {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 20px;
	}

	&__box {
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		font-size: 16px;
		border-radius: 10px;
		border: 1px solid var(--grey2);
		background: #FFF;
	}

	&__input {
		width: 100%;
		font-size: 16px;
		border: none;
		background: transparent;
		&--underline {
			text-decoration: underline;
		}
		&::placeholder{
			color: var(--grey2);
		}
	}

	&__name {
		flex-shrink: 0;
		display: block;
		width: 160px;
		margin-right: 10px;
		padding: 6px 0;
		font-weight: 500;
		border-right: 1px solid var(--grey2);
		@media (max-width: 992px) {
			width: 100%;
			border-right: 0;
			padding: 0;
		}
	}
}

.tooltip {
	display: flex;
	align-items: flex-start;
	padding: 20px 10px 20px 20px;
	border: 1px solid var(--blue);
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0, 170, 255, 0.2);

	&__icon {
		flex-shrink: 0;
		margin-right: 20px;
	}

	&__text {
		line-height: 24px;
		a {
			font-weight: 700;
			color: var(--blue);
			text-decoration: underline;
		}
	}

	&-register {
		position: absolute;
		right: 50px;
		bottom: 150px;
		width: 492px;
		@media (max-width: 992px) {
			position: static;
			width: 100%;
			margin-top: 40px;
		}
	}

	&-settings{
		max-width: 492px;
		width: 100%;
	}

	&--popup{
		margin-top: 20px;
		margin-bottom: 20px;
		background: rgba(0, 170, 255, 0.20);
	}
}

.spinner {
	animation: rotate 2s linear infinite;
	width: 16px;
	height: 16px;
	margin-right: 10px;

	.path {
		stroke: var(--orange);
		stroke-linecap: round;
		animation: dash 1.5s ease-in-out infinite;
	}
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POPUP
/*ВСЕ МОДАЛКИ ДОЛЖНЫ ЛЕЖАТЬ ВНЕ ТЕГА MAIN !!!*/
.popup{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	background: rgba(255, 255, 255, 0.5);
	opacity: 0;
	pointer-events: none;
	overflow: auto;
	transition: all .3s;

	@media(max-width: 992px){
		padding-top: 0px;
		background: rgba(255, 255, 255, 1);
	}

	&.is-open{
		opacity: 1;
		pointer-events: initial;
		/*на мобилке модальное окно в открытом состоянии теряет position:fixed 
		чтобы быть в потоке и занимать всю высоту документа от шапки до футера*/
		@media(max-width: 992px){
			position: static;
			height: auto;
			overflow: initial;
		}
	}

	&__body{
		position: relative;
		width: 100%;
		padding: 40px; 
		background: #FFF;
		border-radius: 20px;
		border: 1px solid var(--grey2);
		@media(max-width: 992px){
			padding: 20px 15px 20px;
			border: none;
		}
		&--720{
			max-width: 720px;
		}
		&--470{
			max-width: 470px;
		}
	}

	&__close{
		position: absolute;
		top: 20px;
		right: 20px;
		@media(max-width: 992px){
		}
	}

	&__title{
		margin-bottom: 40px;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		@media(max-width: 992px){
			text-align: left;
		}
	}

	&-actions{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

		@media(max-width: 565px){
			flex-direction: column-reverse;
		}

		&__btn{
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 181px;
			height: 40px;
			padding: 0 18px;
			border-radius: 10px;
			font-size: 16px;
			line-height: 26px;
			font-weight: 500;
			transition: all .3s;
			@media(max-width: 565px){
				width: 100%;
			}
			&--cancel{
				color: var(--darkBlue);
				border: 1px solid var(--darkBlue);
				&:hover{
					background: #ceefff; 
				}
			}
			&--ok{
				color: #FFF;
				background: var(--blue);
				&:hover{
					background: var(--hoverBlue); 
				}
			}
			&--delete{
				color: #FFF;
				background: var(--red);
				&:hover{
					background: var(--hoverRed); 
				}
			}
		}
	}
}

.create-info{
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-right: 60px;
	@media(max-width: 992px){
		padding-right: 0;
	}
	&__btn{
		font-size: 18px;
		font-weight: 600;
		color: var(--blue);
		text-decoration: underline;
	}
}

.explanation-table{
	&__button{
		@include button(181px, 40px, var(--blue), var(--hoverBlue));
		justify-content: center;
		margin: 40px auto 0;
	}
	&__title{
		padding-right: 30px;
	}
}

.explanation-list{
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
	
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 19px;
		width: 2px;
		height: 100%;
		background: url('/img/icon-line-step.svg');
	}

	&__item{
		display: flex;
		align-items: center;
		&:not(:nth-of-type(1)){
			margin-top: 20px;
		}
		a{
			font-weight: 700;
			color: var(--blue);
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}

	&__text{
		line-height: 24px;
	}

	&__num{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		margin-right: 20px;
		font-weight: 700;
		color: var(--blue);
		border: 2px solid var(--blue);
		border-radius: 50%;
		background: #FFF;
		
	}

}

.explanation-info{
	margin-top: 40px;
	&__title{
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		a{
			font-weight: 700;
			color: var(--blue);
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	&__item{
		display: flex;
		align-items: center;
		margin-top: 20px;
	}
	&__icon{
		margin-right: 40px;
	}
}

.replenish-account{
	&__field{
		margin-bottom: 40px;
	}
	&__title{
		font-size: 18px;
		font-weight: 600;
	}
	&__input{
		margin-top: 10px;
		width: 100%;
		height: 40px;
		padding-left: 10px;
		border-radius: 10px;
		border: 1px solid var(--grey2);
		&::placeholder{
			font-size: 16px;
			color: var(--grey2);
		}
	}
}



