<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Avi-tok | Условия партнерской программы:
	body

		include ./../sections/_header.pug

		main.main 

			.container

				.content
					
					h1.page-title Условия партнерской программы:

					p В партнерской программе может участвовать каждый зарегистрированный пользователь сервиса Avi-tok.

					br
					br

					b.content__title Система вознаграждений:

					br
					br

					p При расчете бонуса учитывается количество активных рефералов, а также количество собственных активных тарифов в сервисе. #[br] Вознаграждение партнер получает в виде бонуса за оплату тарифов рефералом и в виде кэшбека за оплату своих тарифов.						
						
					br
					br

					ul 
						each item in ['<b style="color: #00AAFF">До 5</b> активных рефералов и своих тарифов - <b style="color: #00AAFF">бонуса и кэшбека нет</b> ','<b style="color: #00AAFF">6 - 9</b> активных рефералов и своих тарифов - <b style="color: #00AAFF">бонус и кэшбек 5%</b>','<b style="color: #00AAFF">10 - 19</b> активных рефералов и своих тарифов - <b style="color: #00AAFF">бонус и кэшбек 10%</b>','<b style="color: #00AAFF">20 - 29</b> активных рефералов и своих тарифов - <b style="color: #00AAFF">бонус и кэшбек 20%</b>','<b style="color: #00AAFF">от 30</b> активных рефералов и своих тарифов - <b style="color: #00AAFF">бонус и кэшбек 30%</b>']
							li !{item}

					br
					br

					b.content__title Терминология:

					br
					br

					ul 
						each item in ['<b style="color: #00AAFF">Партнер</b> - тот, кто приглашает.','<b style="color: #00AAFF">Реферал</b> - тот, кого пригласили (учитывается, если оплатил любой тариф хоть 1 раз).','<b style="color: #00AAFF">Активный реферал</b> - это реферал, у которого есть хоть один активный тариф.','<b style="color: #00AAFF">Тариф</b> - любая услуга сервиса Avi-tok.','<b style="color: #00AAFF">Активный тариф</b> - это тариф с неоконечным оплаченным периодом.','<b style="color: #00AAFF">Бонус</b> - монеты, которые получает партнер на свой баланс за оплату услуг рефералом.','<b style="color: #00AAFF">Кэшбек</b> - возврат монет на баланс после оплаты тарифов на сайте сервиса Avi-tok.','<b style="color: #00AAFF">Статус партнера</b> - размер бонуса партнера в процентах за каждую оплату тарифов рефералом и кэшбек за каждую оплату своих тарифов.']
							li !{item}
 
 
 
 
 
 

 
 
 


		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug 