<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Avi-tok | Тарифы автозагрузки
	body

		include ./../sections/_header.pug

		main.main 

			.container

				h1.page-title Тарифы автозагрузки

				.tarifs

					.tarifs__box 
						-
							const tarifs = [
								{name: 'lite',   price: '1 600', val: '500'},
								{name: 'medium', price: '2 300', val: '5 000'},
								{name: 'pro',    price: '3 000', val: '50 000'}
							]
						each item in tarifs
							.tarif
								.tarif__title 
									span.tarif__name= item.name 
									span.tarif__price= `= ${item.price} руб`
								.tarif__val= `до ${item.val} объявлений`

					.tarifs__content.content
						
						.tooltip
							svg.tooltip__icon(width='20' height='20' viewBox='0 0 20 20' fill='none')
								path(d='M9 5H11V7H9V5ZM9 9H11V15H9V9ZM10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z' fill='#00AAFF')
							p.tooltip__text ВАЖНО: при покупке любого тарифа (допустим, Medium до 5.000 объявлений) Вы получаете таблицу с объемом до 5.000 объявлений и для Авито. Везде можно разместить до 5.000

						br
						br

						b За количество таблиц предусмотрена скидка в виде кэшбека до 30%

						br
						br

						p От 6 таблиц - 5% кэшбек
						p От 10 таблиц - 10% кэшбек
						p От 20 таблиц - 20% кэшбек
						p От 30 таблиц - 30% кэшбек

						br
						br

						p Тариф действует 30 дней с момента оплаты.

						br
						br

						p Если вы купите тариф Lite, а позже решили увеличить количество объявлений, до Medium, то можно доплатить разницу: 2300 - 1600 = 700 рублей и увеличить лимит.

						br
						br

						p Также, каждый активный реферал при расчете кэшбека, будет учитываться как активная таблица 			

						br
						br

						p Допустим, у вас 5 таблиц и 5 активных пользователей Вы пригласили. Итог - кэшбек 10%

						br
						br

						p Обязательно рекомендуйте нас, выдавая свою реферальную ссылку. Также мы начисляем бонус за траты приглашенных вами пользователей. Подробно в разделе #[a(href="#") Партнерская программа.]

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug 