<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Avi-tok | Referal
	body

		include ./../sections/_header.pug

		main.main 

			.container

				.table-box.table-box--mobilenogap

					.table-box__item

						h1.page-title Пригласительные
						
						.table-wrap
							
							
							.table.table-small.table-invitations
								-
									const tableHead = [
										{mod: 'link',     name: 'Ссылка'},
										{mod: 'percent',  name: 'Партнерский %'},
										{mod: 'registr',  name: 'Регистрации'},
										{mod: 'referal',  name: 'Рефералы'},
										{mod: 'active',   name: 'Активные'},
										{mod: 'comment',  name: 'Примечание '}
									]
								.table-head.table-invitations__head
										
									each item, i in tableHead
										div(class=`table-head__col table--${item.mod}`)
											span.table-head__name= item.name
											if(i != 0 && i != 5)
												svg.table-head__icon(width='16' height='10' viewBox='0 0 16 10' fill='none')
													path(d='M2.82843 0C1.04662 0 0.154284 2.15428 1.41421 3.41421L6.58579 8.58579C7.36684 9.36684 8.63317 9.36683 9.41421 8.58579L14.5858 3.41421C15.8457 2.15428 14.9534 0 13.1716 0H2.82843Z' fill='white')
								
								.table-body.table-empty
									button.table-empty__btn.animate-boxshadow
										svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
											path(d='M20 11.4286H11.4286V20H8.57143V11.4286H0V8.57143H8.57143V0H11.4286V8.57143H20V11.4286Z' fill='white')
										span Создать приглашение
									.mobile
										.table-empty__text.table-empty__text--mt40 У вас нет приглашений, создайте ссылку!

						.desktop
							+tableNav('disabled', '0', '0')

					.table-box__item

						h2.page-title Рефералы
						
						.table-wrap
							
							.table.table-small.table-invitations
								-
									const tableHead2 = [
										{mod: 'link',     name: 'ссылка'},
										{mod: 'datetime', name: 'дата и время'},
										{mod: 'email',    name: 'почта реферала'},
										{mod: 'comment',  name: 'примечание'},
										{mod: 'summa',    name: 'сумма заработка'}
									]
								.table-head.table-invitations__head

									each item, i in tableHead2
										div(class=`table-head__col table--${item.mod}`)
											span.table-head__name= item.name
											if(i != 0 && i != 3)
												svg.table-head__icon(width='16' height='10' viewBox='0 0 16 10' fill='none')
													path(d='M2.82843 0C1.04662 0 0.154284 2.15428 1.41421 3.41421L6.58579 8.58579C7.36684 9.36684 8.63317 9.36683 9.41421 8.58579L14.5858 3.41421C15.8457 2.15428 14.9534 0 13.1716 0H2.82843Z' fill='white')

								.table-body.table-empty
									.mobile
										.table-empty__text У вас нет клиентов, которые перешли по Вашей ссылке, создайте ссылку!

						.desktop
							+tableNav('disabled', '0', '0')


		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug 