<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Avi-tok | Table in table 
	body

		include ./../sections/_header.pug

		main.main

			.container

				.table-action
					.table-action__box
						include ./../layouts/_tableSearch.pug
						+tableFilterBtn('default', 'Фильтр поиска')
					.table-action__box
						include ./../layouts/_editTableBtn.pug
						include ./../layouts/_addTable.pug

				.table-wrap

					.table
					
						-
							const tableHead = [
								{mod: 'name',     name: 'таблица'},
								{mod: 'pay',      name: 'дата оплаты'},
								{mod: 'comment',  name: 'примечание'},
								{mod: 'quantity', name: 'кол-во объявлений'}
							]
						.table-head 
							.table-head__col.table--num
								.search-number
									span.search-number__grid # 
									output.search-number__item 0
								svg.table-head__icon(width='16' height='10' viewBox='0 0 16 10' fill='none')
									path(d='M2.82843 0C1.04662 0 0.154284 2.15428 1.41421 3.41421L6.58579 8.58579C7.36684 9.36684 8.63317 9.36683 9.41421 8.58579L14.5858 3.41421C15.8457 2.15428 14.9534 0 13.1716 0H2.82843Z' fill='white')
							each item in tableHead
								div(class=`table-head__col table--${item.mod}`)
									span.table-head__name= item.name
									svg.table-head__icon(width='16' height='10' viewBox='0 0 16 10' fill='none')
										path(d='M2.82843 0C1.04662 0 0.154284 2.15428 1.41421 3.41421L6.58579 8.58579C7.36684 9.36684 8.63317 9.36683 9.41421 8.58579L14.5858 3.41421C15.8457 2.15428 14.9534 0 13.1716 0H2.82843Z' fill='white')
						
						.table-body 
							
							.position 
								
								.desktop
									.position__num.table--num 1
								
								.position-data.table--name 
									.position-data__title
										.mobile
											span.position__num 1
										a.position-data__titlelink(href="#") Авто запчасти АвтоВАЗ 
									table.position-data__table
										
										tr.position-data__item 
											td.position-data__col
												b.position-data__name Таблица: 
											td.position-data__col.position-data__col--flex.position-data__col--mcolumn
												a.position-data__val(href="#") Добавьте таблицу Google в настройках  
												button.edit-btn.edit-btn--add
													svg.desktop(width='20' height='20' viewBox='0 0 20 20' fill='none')
														path(d='M20 11.4286H11.4286V20H8.57143V11.4286H0V8.57143H8.57143V0H11.4286V8.57143H20V11.4286Z' fill='white')
													span.mobile Добавить таблицу

										tr.position-data__item 
											td.position-data__col
												b.position-data__name XML Avito:
											td.position-data__col.position-data__col--flex
												a.position-data__val(href="#") 5042fade-b616-45c9-8221-8323cc2e11ee  
												button.edit-btn
													svg(width='17' height='20' viewBox='0 0 17 20' fill='none')
														path(d='M12.5263 0H1.78947C0.805263 0 0 0.818182 0 1.81818V14.5455H1.78947V1.81818H12.5263V0ZM15.2105 3.63636H5.36842C4.38421 3.63636 3.57895 4.45455 3.57895 5.45455V18.1818C3.57895 19.1818 4.38421 20 5.36842 20H15.2105C16.1947 20 17 19.1818 17 18.1818V5.45455C17 4.45455 16.1947 3.63636 15.2105 3.63636ZM15.2105 18.1818H5.36842V5.45455H15.2105V18.1818Z' fill='#004466')
										
										tr.position-data__item
											td.position-data__col
												b.position-data__name Нет данных:
											td.position-data__col.position-data__col--flex.position-data__col--mcolumn
												span.position-data__val Яндекс токен, Avito client_id, Avito client_secret, Avito user_id, Avito user_id
												button.edit-btn.edit-btn--add 
													svg.desktop(width='20' height='20' viewBox='0 0 20 20' fill='none')
														path(d='M20 11.4286H11.4286V20H8.57143V11.4286H0V8.57143H8.57143V0H11.4286V8.57143H20V11.4286Z' fill='white')
													span.mobile Добавить таблицу
								
								.position-pay.table--pay
									.mobile 
										.position__mobiletitle Дата оплаты
									.position-pay__date
										.position-pay__status.position-pay__status--red
										| 01 Мая 2023 г
									button.position-pay__btn Продлить

								.position-comment.table--comment
									.mobile 
										.position__mobiletitle Примечание
									textarea.position-comment__textarea(placeholder="Введите примечание...")

								.position-quantity.table--quantity 
									.mobile 
										.position__mobiletitle Кол-во объявлений:
									.position-quantity__box
										output.position-quantity__num 100
			
				.desktop
					+tableNav('disabled', '1', '1')

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug