.popup#save-change
	.popup__body.popup__body--470
		include ./../layouts/_closePopup.pug
		
		.popup__title Сохранить изменения?
		
		.popup-actions
			button.js-popupClose.popup-actions__btn.popup-actions__btn--cancel Отменить
			button.popup-actions__btn.popup-actions__btn--ok Сохранить