/*
0. Шрифты
1. Общие стили для всего сайта
2. Вспомогательные классы
3. Стили для одинаковых элементов
4. Шапка
5. Подвал
6. Стили которые не повторяются на других страницах

Мобильная версия начинается с 992пх

*/

@import "blocks/vars";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ШРИФТЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "blocks/fonts";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
	overflow-x: hidden;
	&.fixed {
		overflow: hidden;
	}
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: normal;
	font-weight: 400;
	color: #000;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
b {
	font-weight: 700;
}
button {
	display: block;
	font-family: "Montserrat", sans-serif;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
input,
textarea {
	font-family: "Montserrat", sans-serif;
	outline: none;
	&:focus-visible {
		outline: none;
	}
	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

.mobile {
	display: none;
	@media screen and (max-width: 992px) {
		display: block;
	}
}
.desktop {
	@media screen and (max-width: 992px) {
		display: none;
	}
}

.container {
	max-width: 1500px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.main{
	position: relative;
	flex: 1;
	padding-top: 40px;
	padding-bottom: 140px;
	@media(max-width: 992px){
		padding-bottom: 40px;
	}
}

*{
	::-webkit-scrollbar {
		width: 6px; /* ширина всей полосы прокрутки */
	}
	::-webkit-scrollbar-track {
		background: var(--grey2); /* цвет зоны отслеживания */
		border-radius: 20px;
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--grey1); /* цвет бегунка */
		border-radius: 20px; /* округлось бегунка */
		border: 3px solid transparent ;
	}

}



  


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ (нужны там где нет нужды в осмысленном класснейминге)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "blocks/templates";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "blocks/header";
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	//END HEADER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	FOOTER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "blocks/footer";
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	//END FOOTER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	СТИЛИ КОТОРЫЕ НЕ ПОВТОРЯЮТСЯ НА ДРУГИХ СТРАНИЦАХ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ГЕНЕРАТОР ДАТ
.date-generate{
	display: grid;
	grid-template-columns: 1.36fr 0.7645fr 1fr;
	gap: 30px;
	margin-top: 40px;

	@media(max-width: 992px){
		grid-template-columns: 1fr;
	}

	&__datetimes{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media(max-width: 992px){
			align-items: initial;
		}
	}

	&__name{
		display: block;
		margin-bottom: 20px;
		font-weight: 600;
		@media(max-width: 992px){
			margin-bottom: 10px;
		}
	}
}

.datetime{
	display: flex;
	height: 40px;
	border: 1px solid var(--blue);
	border-radius: 10px;
	overflow: hidden;

	&:not(:nth-of-type(1)){
		margin-top: 10px;
	}

	&__item{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		width: 85px;
		font-weight: 700;
		color: var(--blue);
		@media(max-width: 992px){
			width: auto;
		}
		&:not(:last-child):after{
			content: '';
			position: absolute;
			top: 4px;
			bottom: 4px;
			right: -1px;
			width: 1px;
			background: var(--blue);
		}
		&--active{
			color: #FFF;
			background: var(--blue);
			&:after{
				display: none;
			}
		}
	}
}

.date{
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	border: 1px solid var(--blue);
	border-radius: 10px;
	overflow: hidden;
	
	&__icon{
		position: absolute;
		left: 20px;
		pointer-events: none;
	}

	&__input{
		width: 100%;
		height: 100%;
		padding-left: 60px;
		font-size: 16px;
		font-weight: 500;
		color: var(--darkBlue);
		border: none;
		cursor: pointer;
	}
}

.period{
	display: flex;
	align-items: flex-end;

	@media(max-width: 992px){
		flex-direction: column;
		align-items: initial;
		gap: 20px;
	}

	&__item{
		width: 100%;
	}
	
	&__divider{
		display: block;
		margin: 0 20px 12px;
		@media(max-width: 992px){
			display: none;
		}
	}
}

.weekday{
	margin-top: 40px;
	&__buttons{
		display: flex;
		gap: 30px;
		margin-top: 20px;
		@media(max-width: 992px){
			flex-direction: column;
		}
	}
	&__allday{
		@include button(100%, 40px, var(--blue), var(--hoverBlue));
		justify-content: center;
	}
	&__workday{
		@include button(100%, 40px, transparent, #ceefff);
		border: 1px solid var(--blue);
		justify-content: center;
		color: var(--blue);
		&__text {
			color: var(--blue);
		}
	}
}

.times{
	margin-top: 20px;
}

.ui-datepicker th{
	font-weight: 400;
	color: #999;
}
.ui-datepicker td{
	width: 26px;
	height: 26px;
}
.ui-state-default, .ui-widget-content .ui-state-default{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 26px;
	width: 26px;
	background: none;
	border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active{
	background: var(--blue);
	border-radius: 5px;
	border: none;
	color: #FFF;
}
.ui-widget-header{
	border: none;
	background: transparent;
}

.table-select {
	position: relative;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	background: transparent;
	transition: all 0.3s;

	@media (max-width: 992px) {
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 0 20px;
		border: 1px solid var(--grey2);
		border-radius: 10px;
		cursor: pointer;
	}

	&__current {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		color: var(--grey2);
	}

	&__icon {
		transform: rotate(0deg);
		transition: all 0.3s;
	}

	&__body {
		position: absolute;
		z-index: 2;
		top: 45px;
		display: none;
		width: 100%;
		max-height: 200px;
		overflow-y: auto;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #c8c8c8;
	}

	&__value {
		display: none;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		font-weight: 500;
		padding: 6px 20px;
		cursor: pointer;
		&:hover {
			color: #FFF;
			background: var(--grey2);
		}
		&.is-active {
			color: #FFF;
			background: var(--grey2);
		}
	}

	&.is-active {
		.table-select__body {
			display: block;
		}
		.table-select__icon {
			transform: rotate(180deg);
		}
	}
}

.advertising-quantity{
	&:not(:nth-of-type(1)){
		margin-top: 40px;
	}

	&__input{
		width: 100%;
		height: 40px;
		padding: 0 20px;
		font-size: 16px;
		font-weight: 500;
		color: #000;
		border-radius: 10px;
		border: 1px solid var(--grey2);
		background: transparent;
	}

	&__begin{
		@extend .weekday__allday;
		margin-top: 20px;
	}

	&__end{
		@extend .weekday__workday;
		margin-top: 20px;
	}
}


