/*
0. Шрифты
1. Общие стили для всего сайта
2. Вспомогательные классы
3. Стили для одинаковых элементов
4. Шапка
5. Подвал
6. Стили которые не повторяются на других страницах

Мобильная версия начинается с 992пх

*/

@import "blocks/vars";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ШРИФТЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "blocks/fonts";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
	overflow-x: hidden;
	&.popup-open {
		overflow: hidden;
	}
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: normal;
	font-weight: 400;
	color: #000;
	@media(max-width: 992px){
		padding-top: 60px;
	}
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
b {
	font-weight: 600;
}
button {
	display: block;
	font-family: "Montserrat", sans-serif;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
input,
textarea {
	font-family: "Montserrat", sans-serif;
	outline: none;
	&:focus-visible {
		outline: none;
	}
	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

.mobile {
	display: none;
	@media screen and (max-width: 992px) {
		display: block;
	}
}
.desktop {
	@media screen and (max-width: 992px) {
		display: none;
	}
}

.container {
	max-width: 1500px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	position: relative;
	flex: 1;
	padding-top: 40px;
	padding-bottom: 140px;
	@media (max-width: 992px) {
		padding-bottom: 40px;
	}
}

* {
	::-webkit-scrollbar {
		width: 6px; /* ширина всей полосы прокрутки */
	}
	::-webkit-scrollbar-track {
		background: var(--grey2); /* цвет зоны отслеживания */
		border-radius: 20px;
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--grey1); /* цвет бегунка */
		border-radius: 20px; /* округлось бегунка */
		border: 3px solid transparent;
	}
}

.content{
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
	font-size: 16px;
	line-height: 26px;
	a{
		font-weight: 600;
		color: var(--blue);
		text-decoration: underline;
	}

	&__title{
		font-size: 18px;
		font-weight: 700;
		line-height: 26px;
	}

	ul{
		padding-left: 20px;
		li{
			list-style-type: disc;
			line-height: 26px;
		}
	}

	@media(max-width: 992px){
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ (нужны там где нет нужды в осмысленном класснейминге)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.animate-boxshadow{
	animation: boxshadow 1s ease-in-out infinite;
	@media(max-width: 992px){
		animation: none;
	}
}

@keyframes boxshadow {
	0%{
		box-shadow: 0px 0px 60px 0px rgba(0, 170, 255, 0.50);
	}
	50%{
		box-shadow: 0px 0px 60px 0px rgba(0, 170, 255, 0.20);
	}
	100%{
		box-shadow: 0px 0px 60px 0px rgba(0, 170, 255, 0.50);
	}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "blocks/templates";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "blocks/header";
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	//END HEADER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	FOOTER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import "blocks/footer";
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	//END FOOTER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	СТИЛИ КОТОРЫЕ НЕ ПОВТОРЯЮТСЯ НА ДРУГИХ СТРАНИЦАХ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ГЕНЕРАТОР ДАТ
.date-generate {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
	}

	&__col {
		&--periods {
			flex-shrink: 0;
			max-width: 595px;
			width: 100%;
		}
		&--advertising {
			flex-shrink: 0;
			max-width: 345px;
			width: 100%;
		}
		&--publications {
			max-width: 470px;
			width: 100%;
			@media (max-width: 992px) {
			}
		}
	}

	&__datetimes {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: 992px) {
			align-items: initial;
		}
	}

	&__name {
		display: block;
		margin-bottom: 20px;
		font-weight: 600;
		@media (max-width: 992px) {
			margin-bottom: 10px;
		}
	}
}

.datetime {
	display: flex;
	height: 40px;
	border: 1px solid var(--blue);
	border-radius: 10px;
	overflow: hidden;

	&:not(:nth-of-type(1)) {
		margin-top: 10px;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		width: 85px;
		font-weight: 700;
		color: var(--blue);
		@media (max-width: 992px) {
			width: auto;
		}
		&:not(:last-child):after {
			content: "";
			position: absolute;
			top: 4px;
			bottom: 4px;
			right: -1px;
			width: 1px;
			background: var(--blue);
		}
		&--active {
			color: #fff;
			background: var(--blue);
			&:after {
				display: none;
			}
		}
	}
}

.date {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	border: 1px solid var(--blue);
	border-radius: 10px;
	overflow: hidden;

	&__icon {
		position: absolute;
		left: 20px;
		pointer-events: none;
	}

	&__input {
		width: 100%;
		height: 100%;
		padding-left: 60px;
		font-size: 16px;
		font-weight: 500;
		color: var(--darkBlue);
		border: none;
		cursor: pointer;
	}
}

.period {
	display: flex;
	align-items: flex-end;

	@media (max-width: 992px) {
		flex-direction: column;
		align-items: initial;
		gap: 20px;
	}

	&__item {
		width: 100%;
	}

	&__divider {
		display: block;
		margin: 0 20px 12px;
		@media (max-width: 992px) {
			display: none;
		}
	}
}

.weekday {
	margin-top: 40px;
	&__buttons {
		display: flex;
		gap: 30px;
		margin-top: 20px;
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}
	&__allday {
		@include button(100%, 40px, var(--blue), var(--hoverBlue));
		justify-content: center;
	}
	&__workday {
		@include button(100%, 40px, transparent, #ceefff);
		border: 1px solid var(--blue);
		justify-content: center;
		color: var(--blue);
		&__text {
			color: var(--blue);
		}
	}
}

.times {
	margin-top: 20px;
}

.ui-datepicker th {
	font-weight: 400;
	color: #999;
}
.ui-datepicker td {
	width: 26px;
	height: 26px;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 26px;
	width: 26px;
	background: none;
	border: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active {
	background: var(--blue);
	border-radius: 5px;
	border: none;
	color: #fff;
}
.ui-widget-header {
	border: none;
	background: transparent;
}

.table-select {
	position: relative;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	background: transparent;
	transition: all 0.3s;

	@media (max-width: 992px) {
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 0 20px;
		border: 1px solid var(--grey2);
		border-radius: 10px;
		cursor: pointer;
	}

	&__current {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		color: var(--grey2);
	}

	&__icon {
		transform: rotate(0deg);
		transition: all 0.3s;
	}

	&__body {
		position: absolute;
		z-index: 2;
		top: 45px;
		display: none;
		width: 100%;
		max-height: 200px;
		overflow-y: auto;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #c8c8c8;
	}

	&__value {
		display: none;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		font-weight: 500;
		padding: 6px 20px;
		cursor: pointer;
		&:hover {
			color: #fff;
			background: var(--grey2);
		}
		&.is-active {
			color: #fff;
			background: var(--grey2);
		}
	}

	&.is-active {
		.table-select__body {
			display: block;
		}
		.table-select__icon {
			transform: rotate(180deg);
		}
	}
}

.advertising-quantity {
	&:not(:nth-of-type(1)) {
		margin-top: 40px;
	}

	&__input {
		width: 100%;
		height: 40px;
		padding: 0 20px;
		font-size: 16px;
		font-weight: 500;
		color: #000;
		border-radius: 10px;
		border: 1px solid var(--grey2);
		background: transparent;
	}

	&__begin {
		@extend .weekday__allday;
		margin-top: 20px;
	}

	&__end {
		@extend .weekday__workday;
		margin-top: 20px;
		@media (max-width: 992px) {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

.dates { 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 30px;

	&__item {
		flex: 1;
	}

	&__list {
		min-height: 370px;
		padding: 20px;
		border-radius: 10px;
		border: 1px solid var(--grey2);
	}

	&__row {
		&:not(:nth-of-type(1)) {
			margin-top: 5px;
		}
	}
	
	&__val{
		font-weight: 500;
	}

	&__copy {
		margin-top: 20px;
		&--begin {
			@extend .weekday__allday;
		}
		&--end {
			@extend .weekday__workday;
		}
	}
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ЛИЧНЫЕ ДАННЫЕ
.settings {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 40px;

	@media (max-width: 992px) {
		align-items: initial;
		flex-direction: column;
	}

	&__fields {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 595px;
		width: 100%;
	}

	&__field {
		&.error .settings__unverified {
			display: flex;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 600;
	}

	&__unverified {
		display: none;
		align-items: center;
		margin-top: 10px;
		font-weight: 600;
		color: var(--red);
		text-decoration: underline;
		svg {
			margin-right: 10px;
		}
	}
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ФИНАНСЫ
.finance {
	display: flex;
	gap: 30px;

	@media(max-width: 992px){
		flex-direction: column;
		gap: 20px;
	}

	&__item {
		position: relative;
		padding: 20px;
		border: 1px solid var(--grey2);
		border-radius: 20px;
		&--balance {
			max-width: 595px;
			width: 100%;
		}
		&--income {
			max-width: 470px;
			width: 100%;
		}
		&--status {
			max-width: 345px;
			width: 100%;
		}
	}

	&__name {
		font-size: 18px;
		font-weight: 700;
	}

	&__val {
		display: block;
		margin-top: 10px;
		font-size: 18px;
		font-weight: 600;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-top: 20px;
	}

	&__action {
		@include button(auto, 40px, var(--blue), var(--hoverBlue));
		justify-content: center;
	}

	&__price {
		@include button(auto, 40px, transparent, #ceefff);
		border: 1px solid var(--blue);
		justify-content: center;
		color: var(--blue);
		&__text {
			color: var(--blue);
		}
	}
}

.switch {
	display: flex;
	align-items: center;

	@media(max-width: 992px){
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__text{
		font-weight: 500;
		color: rgba(0, 68, 102, 0.20);
	}

	&__input {
		position: relative;
		flex-shrink: 0;
		width: 40px;
		height: 20px;
		margin-right: 10px;
		appearance: none;
		border-radius: 100px;
		background: rgba(0, 68, 102, 0.20); 
		cursor: pointer;
		
		&:after {
			content: "";
			position: absolute;
			top: 2px;
			left: 2px;
			width: 16px;
			height: 16px;
			background-color: #FFF;
			border-radius: 50%;
			transition: all 100ms ease-out;
		}
		
		&:checked {
			background: var(--darkBlue);
			&:after {
				background-color: #FFF;
				left: 22px;
			}
			& + .switch__text{
				color: var(--darkBlue);
			}
		}
	}

	
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ТАРИФЫ (PRICES)
.tarifs{
	&__box{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
		gap: 30px;
		@media(max-width: 992px){
			gap: 20px;
		}
	}

	&__content{
		margin-top: 40px;
	}
}

.tarif{
	position: relative;
	padding: 20px;
	border: 1px solid var(--grey2);
	border-radius: 20px;
	&__title{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__name{
		font-size: 18px;
		font-weight: 700;
		color: var(--blue);
		text-transform: uppercase;
	}
	&__price{
		font-size: 18px;
		font-weight: 600;
	}
	&__val{
		margin-top: 10px;
		font-size: 18px;
		font-weight: 600;
		color: var(--grey1);
	}
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ МОДАЛЬНЫЕ ОКНА
